@{
    ViewData["Title"] = "Balance Transfer";
}

@section Styles
{
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

    <!-- Row Group CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css" />
    <!-- Form Validation -->
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title mb-2">Balance Transfer</h5>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-primary"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#addEventSidebar"
                        aria-controls="addEventSidebar">
                    <i class="ti ti-plus me-1"></i>
                    <span class="align-middle">Add BalanceTransfer</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card-datatable table-responsive pt-0">
        <partial name="_ResponsePartial" />
        <partial name="_ModalPartial" />
        <table id="balancetranfers" class="datatables-basic table">
            <thead>
                <tr>
                    <th>Sender Type</th>
                    <th>From Account</th>
                    <th>Receiver Type</th>
                    <th>To Account</th>
                    <th>Transfer Amount</th>
                    <th>Time</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<partial name="_BalanceTransferModalPartial" />





@section Scripts
{
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> *@
    @* <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script> *@
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
        $('#SenderAccountTypeId').change(function () {
            var typeId = $(this).val();
            $('#SenderAccountId').empty().append('<option>Loading...</option>');

            if (typeId) {
                    fetchData('/Admin/Sales/GetAccountsByType','GET', { accountTypeId: typeId }, function (data, status) {
                    if(status)
                    $('#SenderAccountId').empty();
                    $.each(data, function (i, account) {
                         $('#SenderAccountId').append(`<option value="${account.value}">${account.text}</option>`);
                    });
                });
            }
        });
        $('#ReceiverAccountTypeId').change(function () {
            var typeId = $(this).val();
            $('#ReceiverAccountId').empty().append('<option>Loading...</option>');

            if (typeId) {
                    fetchData('/Admin/Sales/GetAccountsByType','GET', { accountTypeId: typeId }, function (data, status) {
                    if(status)
                    $('#ReceiverAccountId').empty();
                    $.each(data, function (i, account) {
                         $('#ReceiverAccountId').append(`<option value="${account.value}">${account.text}</option>`);
                    });
                });
            }
        });
   

        $(function () {
            $("#balancetranfers").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                lengthChange: true,
                autoWidth: false,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
                ajax: {
                    url: "/Admin/BalanceTransfers/GetBalanceTransfer",
                    type: "POST",
                    contentType: "application/json", //must be added
                    dataType: "json", //better to add, not mandatory
                    data: function (d) {
                        d.SearchItem = {};
                        return JSON.stringify(d);
                    },
                },
                columnDefs: [
                     
                    {
                        orderable: false,
                        targets: 7,
                        render: function (data, type, row) {
                            console.log(type);
                            return `

                                            <div class="dropdown">
                                          <button
                                           class="btn p-0"
                                           type="button"
                                          id="actionButtonId"
                                         data-bs-toggle="dropdown"
                                       aria-haspopup="true"
                                         aria-expanded="false">
                                         <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                                        </button>
                                     <div class="dropdown-menu dropdown-menu-end" aria-labelledby="actionButtonId">
                                          <a class="dropdown-item show-bs-modal"  data-id='${data}' value='${data}'><i class="fas fa-trash me-2"></i>Delete</a>
                                    </div>
                                     </div>

                                            `;
                        }
                    }
                ]
            });

            $('#balancetranfers').on('click', '.show-bs-modal', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                let deletemodal = $('#modal-delete');
                deletemodal.find('.modal-body p').text('Are you sure you want to delete this Balance Transfer?');
                $('#delete-id').val(id);
                $('#delete-form').attr('action', '/admin/balancetransfers/delete');
                deletemodal.modal('show');
            });
            $('#delete-button').click(function(){
                $('#delete-form').submit();
            });
        });

     
    </script>
}

